"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Toni Peter"
email = "mail@tonipeter.de"

[ui]
paginate = "never"
default-command = ["log", "--reversed", "--limit", "50"]
# While my tools don't integrate with the new ones
conflict-marker-style = "git"

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'active(rev)' = '(ancestors(rev) | descendants(rev)) ~ immutable()'
'user(x)' = 'author(x) | committer(x)'

# https://github.com/jj-vcs/jj/discussions/5812#discussioncomment-12328051
# stack(x, n) is the set of mutable commits reachable from 'x', with 'n'
# parents. 'n' is often useful to customize the display and return set for
# certain operations. 'x' can be used to target the set of 'roots' to traverse,
# e.g. @ is the current stack.
'stack()' = 'ancestors(reachable(@, mutable()), 2)'
'stack(x)' = 'ancestors(reachable(x, mutable()), 2)'
'stack(x, n)' = 'ancestors(reachable(x, mutable()), n)'

'open()' = 'stack(mine() | @, 1)'

[aliases]
stack = ["log", "-r", "stack(@)", "--reversed"]
long = ["l", "-T", "builtin_log_detailed"]
sl = ["log", "-T", "builtin_log_compact ++ self.diff().files().map(|f| f.status() ++ ' ' ++ f.path()).join('\n')"]
fetch = ["git", "fetch"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
retrunk = ["rebase", "-d", "trunk()", "-s", "roots(trunk()..stack(@))"]
oplog = ["op", "log", "--reversed"]

[template-aliases]
'format_short_id(id)' = 'id.shortest()'
'format_timestamp(timestamp)' = 'timestamp.ago()'

# absolute magic
# [revsets]
# # Prioritize the current bookmark
# short-prefixes = "(main..@)::"