"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Toni Peter"
email = "mail@tonipeter.de"

[ui]
paginate = "never"
default-command = ["status"]

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

[aliases]
s = ["status"]
l = ["log", "--limit", "20", "--reversed", "-r", "::@"]
fetch = ["git", "fetch"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
