alias ll='ls -alF'
alias l='ls -alF'
alias gs='git status' # This shadows ghostscript - I don't care
alias wpy='workpython'
alias wpl='workplot'
alias v='splitvim'
alias t='splitterminal'
alias work='python3 ~/Projects/makeRunView/main.py .'
alias ag='sudo apt-get'
alias agi='sudo apt-get install'
alias rewind='python ~/Dropbox/Scripts/rewinder.py'
alias dlc='bash ~/.usrconfig/scripts/copyLastDownload'
