alias ll='ls -alF'
alias la='ls -A'
alias l='ls -alF'
alias prak='cd ~/Dropbox/Uni/Praktikum/EP'
alias caut='cd ~/Projects/cautotex/'
alias parse='python ~/Projects/cautotex/parse.py .'
alias ..='cd ..'
