alias l='ls -alF'
alias gs='git status' # This shadows ghostscript - I don't care
alias wpy='workpython'
alias t='splitterminal'
alias work='python3 ~/Projects/makeRunView/main.py -v .'
alias inst='sudo apt-get install'
alias rewind='python ~/Dropbox/Scripts/rewinder.py'
alias dlc='bash ~/.usrconfig/scripts/copyLastDownload.sh'
alias to='cd ~/Dropbox/todo/ && ./gather'
alias gac='gitAddAndCommit'
