ssh/ssh.symlink/id_rsa
ssh/ssh.symlink/id_rsa.pub
ssh/ssh.symlink/known_hosts
ssh/ssh.symlink/authorized_keys
redshift/*
vim/vim.symlink/autoload
cargo/cargo.symlink/.package-cache
cargo/cargo.symlink/registry/
powersettings/xfce4-power-manager.xml