snippet frac
\frac{$1}{$2} $0
endsnippet

snippet pfrac
\frac{\partial $1}{\partial $2} $0
endsnippet

snippet fig
\begin{figure}[ht!]
\centering
\subimport{$1}{$2}
\caption{$3}
\label{$4}
\end{figure}
$0
endsnippet
