[Desktop Entry]
Terminal=false
Icon=libreoffice-math
Type=Application
Categories=Application;Utility;
Exec=zathura %f
MimeType=application/pdf;application/epub+zip;application/epub
Name=zathura
Comment=zathura